<?xml version="1.0"?>
<configuration>
  <startup>
    <supportedRuntime version="v2.0.50727"/>
  </startup>

  <connectionStrings>
    <add name="MySqlConnection"
        connectionString="Data Source=localhost;user id=dev_reminder;password=Sommer2011;database=dev_reminder;" providerName="MySql.Data.MySqlClient"/>
  </connectionStrings>
</configuration>
